<?xml version="1.0"?>
<openerp>
    <data>
        <menuitem id="menu_module_builder_root" name="Module Builder" sequence="70"/>
        <menuitem id="menu_module_builder_main" parent="menu_module_builder_root" name="Module Builder" sequence="0" />
        <menuitem id="menu_module_builder_tree" parent="menu_module_builder_main" name="Modules" sequence="1" action="open_module_tree" />
        <menuitem id="menu_module_builder_import" parent="menu_module_builder_main" name="Import Module" sequence="10" action="act_builder_ir_module_module_import_wizard" />
    </data>
</openerp>