<?xml version="1.0"?>
<openerp>
    <data noupdate="1">
    {%- import 'macros.jinja2' as macros -%}
        {%- for cron in cron_jobs -%}
            {{ macros.builder_ir_cron(cron) }}
        {%- endfor -%}
    </data>
</openerp>