<?xml version="1.0"?>
<openerp>
    <data noupdate="1">
    {%- import 'macros.jinja2' as macros -%}
        {% for wkf in workflows %}
            {{ macros.builder_workflow(wkf) }}
        {% endfor %}
    </data>
</openerp>