{%- extends 'xml/base.xml.jinja2' %}
{% import 'macros.jinja2' as macros -%}
{% block content %}
    {%- for action in module.action_window_ids %}
        {{ macros.builder_ir_actions_act_window(action) }}
    {% endfor -%}
    {% if module.post_install_action -%}
    <record id="{{ module.name }}.do_action" model="ir.actions.todo">
        <field name="action_id" ref="{{ module.post_install_action.xml_id }}"/>
        <field name="state">open</field>
    </record>
    {% endif -%}
{% endblock -%}