{%- extends 'xml/base.xml.jinja2' -%}
{% import 'macros.jinja2' as macros -%}

{% block content -%}
    {%- for menu in menus %}
        {{ macros.builder_ir_ui_menu(menu) }}
    {% endfor -%}
{% endblock -%}