{%- extends 'xml/base.xml.jinja2' %}
{% import 'macros.jinja2' as macros %}

{% block content %}
    {% for view in views %}
            {{ macros.builder_ir_ui_view(view) }}
    {% endfor %}
{% endblock %}