id,name,model_id:id,group_id:id,perm_read,perm_write,perm_create,perm_unlink
{% import 'macros.jinja2' as macros -%}
{% for access in model_access -%}
{{ macros.builder_ir_model_access(access) }}
{% endfor -%}